apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: branchbase
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: priyanshukumaranand02/branchbase-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: branchbase-secrets
              key: mongo-root-username
        - name: MONGO_PASS
          valueFrom:
            secretKeyRef:
              name: branchbase-secrets
              key: mongo-root-password
        - name: MONGO_URI
          value: "mongodb://$(MONGO_USER):$(MONGO_PASS)@mongo:27017/branchbase?authSource=admin"
        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        - name: CALLBACK_URL
          value: "http://localhost:8080/auth/google/callback"
        - name: FRONTEND_URL
          value: "http://localhost"
        - name: CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: branchbase-secrets
              key: client-id
        - name: CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: branchbase-secrets
              key: client-secret
        livenessProbe:
          exec:
            command:
            - node
            - -e
            - "require('http').get('http://localhost:8080/socket/ping', res => { process.exit(res.statusCode === 200 ? 0 : 1); }).on('error', () => process.exit(1));"
          initialDelaySeconds: 15
          periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: branchbase
spec:
  selector:
    app: backend
  ports:
  - port: 8080
    targetPort: 8080
  type: LoadBalancer
