name: Production Release

on:
  workflow_dispatch: # Allows manual trigger from GitHub UI
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0, v2.3

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

jobs:
  build-and-push-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Backend (Prod)
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: |
            ${{ env.DOCKER_HUB_USERNAME }}/branchbase-backend:latest
            ${{ env.DOCKER_HUB_USERNAME }}/branchbase-backend:${{ github.ref_name }}

      - name: Build and Push Frontend (Prod)
        uses: docker/build-push-action@v4
        with:
          context: ./Frontend
          push: true
          tags: |
            ${{ env.DOCKER_HUB_USERNAME }}/branchbase-frontend:latest
            ${{ env.DOCKER_HUB_USERNAME }}/branchbase-frontend:${{ github.ref_name }}
